@font-face {
    font-family: 'Lyon Display';
    src: url('../fonts/lyonDisplay/LyonDisplay-Regular.woff2') format('woff2'),
        url('../fonts/lyonDisplay/LyonDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lyon Display';
    src: url('../fonts/lyonDisplay/LyonDisplay-RegularItalic.woff2') format('woff2'),
        url('../fonts/lyonDisplay/LyonDisplay-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

